.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    width: 12em;
    min-height: 20em;
    color: var(--clr-white);
    border: 4px solid currentColor;
    border-radius: 0.5em;
    text-align: center;
    text-decoration: none;
    padding: 1em;
    cursor: pointer;
    &:hover {
      animation: fade 0.5s forwards;
    }
    .desc {
      display: flex;
      flex-direction: column;
      gap: 0.5em;
    }
  }

  @keyframes fade {
    from {
      opacity: 0.5;
    }
    to {
      opacity: 1;
      color: var(--clr-red);
    }
  }